/* Made with love by Mutiullah Samim*/

@import url("https://fonts.googleapis.com/css?family=Numans");
html,
body {
    background-image: url("http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: "Numans", sans-serif;
}

.container {
    height: 100%;
    align-content: center;
}

.card {
    height: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    width: 400px;
    background-color: #081624 !important;
    box-shadow: 0 0 9px 3px rgba(226, 30, 228, 0.24);
}

.social_icon span {
    font-size: 60px;
    margin-left: 10px;
    color: #ffc312;
}

.social_icon span:hover {
    color: white;
    cursor: pointer;
}

.card-header h3 {
    color: white;
}

.social_icon {
    position: absolute;
    right: 20px;
    top: -45px;
}

.input-group-prepend span {
    width: 50px;
    background-color: #3282b8;
    color: black;
    border: 1 !important;
    border-color: gray;
}

input:focus {
    outline: 0 0 0 0 !important;
    box-shadow: 0 0 0 0 !important;
}

.remember {
    color: white;
}

.remember input {
    width: 20px;
    height: 20px;
    margin-left: 15px;
    margin-right: 5px;
}

.login_btn {
    color: #081624;
    background-color: #bbe1fa;
    width: 100px;
}

.login_btn:hover {
    color: #081624;
    background-color: #d7fffd;
}

.links {
    color: white;
}

.links a {
    margin-left: 4px;
}

.form-control {
    background-color: #bbe1fa;
}

.form-control:hover {
    background-color: #d7fffd;
}