<div style="padding-bottom: 20px;">
    <div class="page-info">
        <h2>Reviews</h2>
        <div class="site-breadcrumb">
            <a [routerLink]="['/']" routerLinkActive="active">Home</a> /
            <a [routerLink]="['/home/games']" routerLinkActive="active">Games</a> /
            <span>Reviews</span>
        </div>
    </div>
</div>
<div class="container">
    <ul class="game-filter" style="text-align: center;">
        <li><a href="">A</a></li>
        <li><a href="">B</a></li>
        <li><a href="">C</a></li>
        <li><a href="">D</a></li>
        <li><a href="">E</a></li>
        <li><a href="">F</a></li>
        <li><a href="">G</a></li>
        <li><a href="">H</a></li>
        <li><a href="">I</a></li>
        <li><a href="">J</a></li>
        <li><a href="">K</a></li>
        <li><a href="">L</a></li>
        <li><a href="">M</a></li>
        <li><a href="">N</a></li>
        <li><a href="">O</a></li>
        <li><a href="">P</a></li>
        <li><a href="">Q</a></li>
        <li><a href="">R</a></li>
        <li><a href="">S</a></li>
        <li><a href="">T</a></li>
        <li><a href="">U</a></li>
        <li><a href="">V</a></li>
        <li><a href="">W</a></li>
        <li><a href="">X</a></li>
        <li><a href="">Y</a></li>
        <li><a href="">Z</a></li>
    </ul>
    <h5 *ngIf="reviews.length == 0; else elseReviews" style="text-align: center; color: #c313b7;"><em>Loading...</em></h5>
    <ng-template #elseReviews>
        <div class="row review-item" *ngFor="let review of reviews.value | paginate: { id: 'review_page',
        itemsPerPage: 5,
        currentPage: page,
        totalItems: reviews.value.length }">
            <div class="col-lg-4">
                <div class="review-pic">
                    <img src="{{this.reviewsService.baseUrl + review.thumbnail}}" height="300px">
                </div>
            </div>
            <div class="col-lg-8">
                <div class="review-content text-box text-white">
                    <div class="rating">
                        <h5><i>Rating</i><span>{{review.rating}}</span> / 5</h5>
                    </div>
                    <div class="top-meta">{{review.releaseDate | date: 'dd/MM/yyyy'}} / in <a [routerLink]="['/home/games']" routerLinkActive="active">Games</a></div>
                    <h3>{{review.title}}</h3>
                    <p>{{review.content}}</p>
                    <a [routerLink]="['/home/games/detail', review.gameId]" routerLinkActive="active" target="_blank" class="read-more">Read More <img src="../../assets/img/icons/double-arrow.png"/></a>
                </div>
            </div>
        </div>
        <div class="row" style="justify-content: center;">
            <pagination-controls id="review_page" maxSize="9" directionLinks="true" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
        </div>
    </ng-template>
</div>