<!-- Header section -->
<header class="header-section">
    <div class="header-warp">
        <div class="header-social d-flex justify-content-end">
            <p>Follow us:</p>
            <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
            <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
        </div>
        <div class="header-bar-warp d-flex">
            <!-- site logo -->
            <a [routerLink]="['/']" routerLinkActive="active" class="site-logo">
                <img src="../../assets/img/logo.png">
            </a>
            <nav class="top-nav-area w-100">
                <div class="user-panel">
                    <a [routerLink]="['/home/auth/login']" routerLinkActive="active">Login</a> / <a [routerLink]="['/home/auth/register']" routerLinkActive="active">Register</a>
                </div>
                <!-- Menu -->
                <ul class="main-menu primary-menu">
                    <li><a [routerLink]="['/']" routerLinkActive="active">Home <span class="sr-only">(current)</span></a></li>
                    <li><a [routerLink]="['/home/games']" routerLinkActive="active">Games</a>
                        <ul class="sub-menu" style="text-align: center;">
                            <li><a [routerLink]="['/home/games/new']" routerLinkActive="active">New game</a></li>
                        </ul>
                    </li>
                    <li><a [routerLink]="['/home/games/reviews']" routerLinkActive="active">Reviews</a></li>
                    <li><a [routerLink]="['/home/games/news']" routerLinkActive="active">News</a></li>
                    <li><a [routerLink]="['/home/contact']" routerLinkActive="active">Contact</a></li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<!-- Header section end -->