<div style="padding-bottom: 20px;">
    <div class="page-info">
        <h2>Games</h2>
        <div class="site-breadcrumb">
            <a [routerLink]="['/']" routerLinkActive="active">Home</a> /
            <a [routerLink]="['/home/games']" routerLinkActive="active">Games</a> /
            <a *ngIf="games.gameId !== null" [routerLink]="['/home/games/detail', games.gameId]" routerLinkActive="active">Detail</a> /
            <span>Review - {{games.name}}</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-8 col-lg-8 col-md-7 game-single-content">
            <div class="gs-meta">{{games.releaseDate | date: 'dd/MM/yyyy'}} / in <a [routerLink]="['/home/games']" routerLinkActive="active">Games</a></div>
            <img src="{{this.gamesService.baseUrl + games.thumbnail}}" height="485.3" width="585.3" style="vertical-align: middle;">
            <h2 class="gs-title">{{games.name}}</h2>
            <h4>Gameplay</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
                ut labore et dolore magna aliquamet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vestibulum posuere porttitor justo id pellentesque. Proin id lacus feugiat, posuere erat sit amet, commodo
                ipsum. Donec pellentesque vestibulum metus.</p>
            <h4>Conclusion</h4>
            <p>Nulla ut maximus mauris. Sed malesuada at sapien sed euismod. Vestibulum pharetra in sem id laoreet. Cras metus ex, placerat nec justo quis, luctus posuere ex. Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales
                odio ultricies, nec rhoncus ex lobortis. Vivamus tincidunt sit amet sem id varius. Donec ele-mentum aliquet tortor. Curabitur justo mi, efficitur sed eros aliquet, dictum molestie eros. Nullam scelerisque convallis gravida. Morbi id lorem
                accumsan, scelerisque enim laoreet, sollicitudin neque. Vivamus volutpat nibh ac sollicitudin imperdiet. Donec scelerisque lorem sodales odio ultricies, nec rhoncus ex lobortis. Vivamus tincidunt sit amet sem id varius. Donec ele-mentum
                aliquet tortor. Curabitur justo mi, efficitur sed eros aliqueDonec vitae tellus sodales, congue augue at, biben-dum justo. Pellentesque non dolor et magna volutpat pharetra eget vel ligula. Maecenas facilisis vestibulum mattis. Sed sagittis
                gravida urna. Cras nec mi risus.
            </p>
            <div class="geme-social-share pt-5 d-flex">
                <p>Share:</p>
                <a href="#"><i class="fa fa-pinterest"></i></a>
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-dribbble"></i></a>
                <a href="#"><i class="fa fa-behance"></i></a>
            </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-5 sidebar game-page-sideber">
            <div id="stickySidebar">
                <div class="widget-item">
                    <div class="rating-widget">
                        <h4 class="widget-title">Ratings</h4>
                        <ul>
                            <li>Price:
                                <div><input type="range" name="price" [(ngModel)]="price" min="0" max="5" step="0.5" class="custom-range w-75" (click)="calAvgRate($event)"><span>{{price}}/5</span></div>
                            </li>
                            <li>Graphics:
                                <div><input type="range" name="graph" [(ngModel)]="graph" min="0" max="5" step="0.5" class="custom-range w-75" (click)="calAvgRate($event)"><span>{{graph}}/5</span></div>
                            </li>
                            <li>Levels:
                                <div><input type="range" name="level" [(ngModel)]="level" min="0" max="5" step="0.5" class="custom-range w-75" (click)="calAvgRate($event)"><span>{{level}}/5</span></div>
                            </li>
                            <li>Dificulty:
                                <div><input type="range" name="diff" [(ngModel)]="diff" min="0" max="5" step="0.5" class="custom-range w-75" (click)="calAvgRate($event)"><span>{{diff}}/5</span></div>
                            </li>
                        </ul>
                        <div class="rating ">
                            <h5><i>Rating</i><span>{{rate}}</span> / 5</h5>
                        </div>
                        <div style="justify-content: right; text-align: right; margin-top: 25px; margin-right: 45px; ">
                            <button class="site-btn ">rate<img src="../../assets/img/icons/double-arrow.png " alt="# "/></button>
                        </div>

                    </div>

                </div>
                <div class="widget-item ">
                    <div class="testimonials-widget ">
                        <h4 class="widget-title ">Testimonials</h4>
                        <div class="testim-text ">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolo re magna aliqua. Quis ipsum suspend isse ultrices.</p>
                            <h6><span>James Smith,</span>Gamer</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>