<div style="padding-bottom: 20px;">
    <div class="page-info">
        <h2>Games</h2>
        <div class="site-breadcrumb">
            <a [routerLink]="['/']" routerLinkActive="active">Home</a> /
            <a [routerLink]="['/home/games']" routerLinkActive="active">Games</a> /
            <span>New</span>
        </div>
    </div>
</div>

<div class="container">
    <ul class="game-filter" style="text-align: center;">
        <li><a href="">A</a></li>
        <li><a href="">B</a></li>
        <li><a href="">C</a></li>
        <li><a href="">D</a></li>
        <li><a href="">E</a></li>
        <li><a href="">F</a></li>
        <li><a href="">G</a></li>
        <li><a href="">H</a></li>
        <li><a href="">I</a></li>
        <li><a href="">J</a></li>
        <li><a href="">K</a></li>
        <li><a href="">L</a></li>
        <li><a href="">M</a></li>
        <li><a href="">N</a></li>
        <li><a href="">O</a></li>
        <li><a href="">P</a></li>
        <li><a href="">Q</a></li>
        <li><a href="">R</a></li>
        <li><a href="">S</a></li>
        <li><a href="">T</a></li>
        <li><a href="">U</a></li>
        <li><a href="">V</a></li>
        <li><a href="">W</a></li>
        <li><a href="">X</a></li>
        <li><a href="">Y</a></li>
        <li><a href="">Z</a></li>
    </ul>
    <div class="row" style="padding-left: 20px;">
        <h5 *ngIf="message" style="color: red; margin-bottom: 30px;">
            {{message}}
        </h5>
    </div>

    <div class="row" style="justify-content: center;">
        <form class="contact-form col-md-12" enctype="multipart/form-data">
            <input type="text" placeholder="Name of the game" name="nameGame" [(ngModel)]="nameGame" (keyup)="checkData($event)">
            <app-upload-file (onUploadFinished)="uploadFinished($event)"></app-upload-file>
            <select style="width: 50%;" name="typeId" [(ngModel)]="typeId">
                <option *ngIf="types.length == 0; else typeBlock">- There are no game types</option>
                <ng-template #typeBlock>
                    <option *ngFor="let type of types" style="margin-left: 20px;" [value]="type.typeId">{{type.name}}</option>
                </ng-template>
              </select>
            <textarea placeholder="Brief description of the game" name="description" [(ngModel)]="description" (keyup)="checkData($event)"></textarea>
            <button type="submit" class="site-btn" (click)="onCreate()">Create<img src="../../assets/img/icons/double-arrow.png" /></button>
        </form>
    </div>
</div>