<div style="padding-bottom: 20px;">
    <div class="page-info">
        <h2>Games</h2>
        <div class="site-breadcrumb">
            <a [routerLink]="['/']" routerLinkActive="active">Home</a> /
            <span>Games</span>
        </div>
    </div>
</div>
<div class="container">
    <ul class="game-filter" style="text-align: center;">
        <li><a href="">A</a></li>
        <li><a href="">B</a></li>
        <li><a href="">C</a></li>
        <li><a href="">D</a></li>
        <li><a href="">E</a></li>
        <li><a href="">F</a></li>
        <li><a href="">G</a></li>
        <li><a href="">H</a></li>
        <li><a href="">I</a></li>
        <li><a href="">J</a></li>
        <li><a href="">K</a></li>
        <li><a href="">L</a></li>
        <li><a href="">M</a></li>
        <li><a href="">N</a></li>
        <li><a href="">O</a></li>
        <li><a href="">P</a></li>
        <li><a href="">Q</a></li>
        <li><a href="">R</a></li>
        <li><a href="">S</a></li>
        <li><a href="">T</a></li>
        <li><a href="">U</a></li>
        <li><a href="">V</a></li>
        <li><a href="">W</a></li>
        <li><a href="">X</a></li>
        <li><a href="">Y</a></li>
        <li><a href="">Z</a></li>
    </ul>
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-7">
            <div class="row">
                <h5 *ngIf="games.length == 0; else elseGames" style="text-align: center; color: #c313b7;"><em>Loading...</em></h5>
                <ng-template #elseGames>
                    <div class="col-lg-3 col-md-6" *ngFor="let game of games.value | paginate: { id: 'games_page',
                    itemsPerPage: 9,
                    currentPage: page,
                    totalItems: games.value.length }">
                        <div class="game-item">
                            <img src="{{this.gamesService.baseUrl + game.thumbnail}}" width="198.47px" height="190.03px">
                            <h5>{{game.name}}</h5>
                            <a [routerLink]="['/home/games/detail', game.gameId]" routerLinkActive="active" target="_blank" class="read-more">Read More  <img src="../../assets/img/icons/double-arrow.png" alt="#"/></a>
                        </div>
                    </div>

                </ng-template>
            </div>
            <div class="row" style="justify-content: center;">
                <pagination-controls id="games_page" maxSize="9" directionLinks="true" class="my-pagination" (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5 sidebar game-page-sideber">
            <div id="stickySidebar">
                <div class="widget-item">
                    <div class="categories-widget">
                        <h4 class="widget-title">categories</h4>
                        <ul>
                            <li><a href="">Games</a></li>
                            <li><a href="">Gaming Tips & Tricks</a></li>
                            <li><a href="">Online Games</a></li>
                            <li><a href="">Team Games</a></li>
                            <li><a href="">Community</a></li>
                            <li><a href="">Uncategorized</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-item">
                    <div class="categories-widget">
                        <h4 class="widget-title">platform</h4>
                        <ul>
                            <li><a href="">Xbox</a></li>
                            <li><a href="">X box 360</a></li>
                            <li><a href="">Play Station</a></li>
                            <li><a href="">Play Station VR</a></li>
                            <li><a href="">Nintendo Wii</a></li>
                            <li><a href="">Nintendo Wii U</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-item">
                    <div class="categories-widget">
                        <h4 class="widget-title">Genre</h4>
                        <ul>
                            <li><a href="">Online</a></li>
                            <li><a href="">Adventure</a></li>
                            <li><a href="">S.F.</a></li>
                            <li><a href="">Strategy</a></li>
                            <li><a href="">Racing</a></li>
                            <li><a href="">Shooter</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>