<div style="padding-bottom: 20px;">
    <div class="page-info">
        <h2>News</h2>
        <div class="site-breadcrumb">
            <a [routerLink]="['/']" routerLinkActive="active">Home</a> /
            <a [routerLink]="['/home/games']" routerLinkActive="active">Games</a> /
            <span>News</span>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xl-9 col-lg-8 col-md-7">
            <ul class="blog-filter">
                <li *ngFor="let type of types"><a href="#">{{type.name}}</a></li>
            </ul>
            <div class="big-blog-item">
                <img src="../../../assets/img/blog-big/1.jpg" alt="#" class="blog-thumbnail">
                <div class="blog-content text-box text-white">
                    <div class="top-meta">11.11.18 / in <a [routerLink]="['/home/games']" routerLinkActive="active">Games</a></div>
                    <h3>The best VR games on the market</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.....</p>
                    <a href="#" class="read-more">Read More <img src="../../../assets/img/icons/double-arrow.png" alt="#"/></a>
                </div>
            </div>
            <div class="big-blog-item">
                <img src="../../../assets/img/blog-big/2.jpg" alt="#" class="blog-thumbnail">
                <div class="blog-content text-box text-white">
                    <div class="top-meta">11.11.18 / in <a href="">Games</a></div>
                    <h3>The best online game is out now!</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.....</p>
                    <a href="#" class="read-more">Read More <img src="../../../assets/img/icons/double-arrow.png" alt="#"/></a>
                </div>
            </div>
            <div class="big-blog-item">
                <img src="../../../assets/img/blog-big/3.jpg" alt="#" class="blog-thumbnail">
                <div class="blog-content text-box text-white">
                    <div class="top-meta">11.11.18 / in <a href="">Games</a></div>
                    <h3>The best online game is out now!</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                        tempor incididunt ut labore et dolore magna aliqua.....</p>
                    <a href="#" class="read-more">Read More <img src="../../../assets/img/icons/double-arrow.png" alt="#"/></a>
                </div>
            </div>
            <div class="site-pagination">
                <a href="#" class="active">01.</a>
                <a href="#">02.</a>
                <a href="#">03.</a>
            </div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-5 sidebar">
            <div id="stickySidebar">
                <div class="widget-item">
                    <form class="search-widget">
                        <input type="text">
                        <button>search</button>
                    </form>
                </div>
                <div class="widget-item">
                    <h4 class="widget-title">Trending</h4>
                    <div class="trending-widget">
                        <div class="tw-item">
                            <div class="tw-thumb">
                                <img src="../../../assets/img/blog-widget/1.jpg" alt="#">
                            </div>
                            <div class="tw-text">
                                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                                <h5>The best online game is out now!</h5>
                            </div>
                        </div>
                        <div class="tw-item">
                            <div class="tw-thumb">
                                <img src="../../../assets/img/blog-widget/2.jpg" alt="#">
                            </div>
                            <div class="tw-text">
                                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                                <h5>The best online game is out now!</h5>
                            </div>
                        </div>
                        <div class="tw-item">
                            <div class="tw-thumb">
                                <img src="../../../assets/img/blog-widget/3.jpg" alt="#">
                            </div>
                            <div class="tw-text">
                                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                                <h5>The best online game is out now!</h5>
                            </div>
                        </div>
                        <div class="tw-item">
                            <div class="tw-thumb">
                                <img src="../../../assets/img/blog-widget/4.jpg" alt="#">
                            </div>
                            <div class="tw-text">
                                <div class="tw-meta">11.11.18 / in <a href="">Games</a></div>
                                <h5>The best online game is out now!</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-item">
                    <div class="categories-widget">
                        <h4 class="widget-title">categories</h4>
                        <ul>
                            <li><a href="">Games</a></li>
                            <li><a href="">Gaming Tips & Tricks</a></li>
                            <li><a href="">Online Games</a></li>
                            <li><a href="">Team Games</a></li>
                            <li><a href="">Community</a></li>
                            <li><a href="">Uncategorized</a></li>
                        </ul>
                    </div>
                </div>
                <div class="widget-item">
                    <h4 class="widget-title">Latest Comments</h4>
                    <div class="latest-comments">
                        <div class="lc-item">
                            <img src="../../../assets/img/blog-widget/1.jpg" class="lc-avatar" alt="#">
                            <div class="tw-text"><a href="">Maria Smith</a> <span>On</span> The best online game out there </div>
                        </div>
                        <div class="lc-item">
                            <img src="../../../assets/img/blog-widget/2.jpg" class="lc-avatar" alt="#">
                            <div class="tw-text"><a href="">Maria Smith</a> <span>On</span> The best online game out there </div>
                        </div>
                        <div class="lc-item">
                            <img src="../../../assets/img/blog-widget/3.jpg" class="lc-avatar" alt="#">
                            <div class="tw-text"><a href="">Maria Smith</a> <span>On</span> The best online game out there </div>
                        </div>
                        <div class="lc-item">
                            <img src="../../../assets/img/blog-widget/4.jpg" class="lc-avatar" alt="#">
                            <div class="tw-text"><a href="">Maria Smith</a> <span>On</span> The best online game out there </div>
                        </div>
                    </div>
                </div>
                <div class="widget-item">
                    <a href="#" class="add">
                        <img src="../../../assets/img/add.jpg" alt="">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>