<body>
    <app-nav-menu></app-nav-menu>
    <div style="padding-top: 200px; padding-bottom: 20px;" data-setbg="../assets/img/slider-bg-1.jpg">
        <main role="main" class="pb-3">
            <router-outlet></router-outlet>
        </main>
    </div>

    <footer class="footer-section text-muted">
        <div class="container">
            <a [routerLink]="['/']" routerLinkActive="active" class="footer-logo">
                <img src="../assets/img/logo.png">
            </a>
            <ul class="main-menu footer-menu">
                <li><a [routerLink]="['/']" routerLinkActive="active">Home</a></li>
                <li><a [routerLink]="['/home/games']" routerLinkActive="active">Games</a></li>
                <li><a [routerLink]="['/home/games/reviews']" routerLinkActive="active">Reviews</a></li>
                <li><a [routerLink]="['/home/games/news']" routerLinkActive="active">News</a></li>
                <li><a [routerLink]="['/home/contact']" routerLinkActive="active">Contact</a></li>
            </ul>
            <div class="footer-social d-flex justify-content-center">
                <a href="https://www.pinterest.com/" target="_blank"><i class="fa fa-pinterest"></i></a>
                <a href="https://www.facebook.com/" target="_blank"><i class="fa fa-facebook"></i></a>
                <a href="https://twitter.com/" target="_blank"><i class="fa fa-twitter"></i></a>
            </div>
            <div class="copyright"><a href="">Colorlib</a> 2020 @ All rights reserved</div>
        </div>
    </footer>
</body>